In [59]:
import datetime
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import xgboost
from xgboost import XGBRegressor
from xgboost import plot_importance

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, MinMaxScaler

%matplotlib inline
sns.set(style="darkgrid")
pd.set_option('display.float_format', lambda x: '%.2f' % x)
warnings.filterwarnings("ignore")

from pandas.testing import assert_frame_equal
from lightgbm import LGBMRegressor

In [58]:
def smape(A, F):
    return 100/len(A) * np.sum(2 * np.abs(F - A) / (np.abs(A) + np.abs(F)))

In [6]:
train = pd.read_csv(r'C:\Users\pc\Desktop\Data Science Folder\Retail3\train.csv')
test = pd.read_csv(r'C:\Users\pc\Desktop\Data Science Folder\Retail3\test.csv')
submission = pd.read_csv(r'C:\Users\pc\Desktop\Data Science Folder\Retail3\sample_submission.csv')

In [7]:
print('\n******* title ********\n', 'shape: ', train.shape, '\n', train.columns, '\n', train.describe(), '\n', train.isnull().sum() )

print('\n******* title ********\n', 'shape: ', test.shape, '\n', test.columns, '\n', test.describe(), '\n', test.isnull().sum() )


print('\n******* title ********\n', 'shape: ', submission.shape, '\n', submission.columns, '\n', submission.describe(), '\n', submission.isnull().sum() )

******* title ********
 shape:  (913000, 4)
 Index(['date', 'store', 'item', 'sales'], dtype='object')
           store      item     sales
count 913000.00 913000.00 913000.00
mean       5.50     25.50     52.25
std        2.87     14.43     28.80
min        1.00      1.00      0.00
25%        3.00     13.00     30.00
50%        5.50     25.50     47.00
75%        8.00     38.00     70.00
max       10.00     50.00    231.00
 date     0
store    0
item     0
sales    0
dtype: int64

******* title ********
 shape:  (45000, 4)
 Index(['id', 'date', 'store', 'item'], dtype='object')
             id    store     item
count 45000.00 45000.00 45000.00
mean  22499.50     5.50    25.50
std   12990.53     2.87    14.43
min       0.00     1.00     1.00
25%   11249.75     3.00    13.00
50%   22499.50     5.50    25.50
75%   33749.25     8.00    38.00
max   44999.00    10.00    50.00
 id       0
date     0
store    0
item     0
dtype: int64

******* title ********
 shape:  (45000, 2)
 Index(['id', 'sales'], dtype='object')
             id    sales
count 45000.00 45000.00
mean  22499.50    52.00
std   12990.53     0.00
min       0.00    52.00
25%   11249.75    52.00
50%   22499.50    52.00
75%   33749.25    52.00
max   44999.00    52.00
 id       0
sales    0
dtype: int64

In [8]:
test_shop_ids = test['store'].unique()
test_item_ids = test['item'].unique()

lk_train = train[train['store'].isin(test_shop_ids)]

lk_train = train[train['item'].isin(test_item_ids)]

In [9]:
lk_train.equals(train)

True

In [10]:
train.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [11]:
train['date'] = pd.to_datetime(train.date,format="%Y-%m-%d")

train['month'] = train['date'].dt.month
train['day'] = train['date'].dt.day

train.head()

        date  store  item  sales  month  day
0 2013-01-01      1     1     13      1    1
1 2013-01-02      1     1     11      1    2
2 2013-01-03      1     1     14      1    3
3 2013-01-04      1     1     13      1    4
4 2013-01-05      1     1     10      1    5

In [12]:
train = train.sort_values('date')

In [13]:
train2 = train.copy()

train2 = train2.groupby(by=['month', 'day', 'store', 'item'], as_index=False).agg({'sales':['mean', 'min', 'max', 'std']})

train2.head()

  month day store item sales
                        mean min max  std
0     1   1     1    1 14.60   9  21 5.18
1     1   1     1    2 34.80  32  40 3.27
2     1   1     1    3 22.60  15  36 8.08
3     1   1     1    4 14.00   9  21 4.80
4     1   1     1    5 14.00   6  25 6.96

In [14]:
train2.columns = ['month', 'day', 'store', 'item', 'mean_sales', 'min_sales', 'max_sales', 'std_sales']

train2.head()

   month  day  store  item  mean_sales  min_sales  max_sales  std_sales
0      1    1      1     1       14.60          9         21       5.18
1      1    1      1     2       34.80         32         40       3.27
2      1    1      1     3       22.60         15         36       8.08
3      1    1      1     4       14.00          9         21       4.80
4      1    1      1     5       14.00          6         25       6.96

In [15]:
train2.shape

(183000, 8)

In [16]:
train2.describe()

,month,day,store,item,mean_sales,min_sales,max_sales,std_sales
count,183000.00,183000.00,183000.00,183000.00,183000.00,183000.00,183000.00,182500.00
mean,6.51,15.76,5.50,25.50,52.21,38.86,66.31,11.14
std,3.45,8.81,2.87,14.43,26.47,21.42,32.88,6.08
min,1.00,1.00,1.00,1.00,4.20,0.00,5.00,0.00
25%,4.00,8.00,3.00,13.00,30.60,22.00,40.00,6.58
50%,7.00,16.00,5.50,25.50,48.00,35.00,61.00,9.91
75%,10.00,23.00,8.00,38.00,69.40,52.00,87.00,14.46
max,12.00,31.00,10.00,50.00,160.80,134.00,231.00,46.73

# empty df

In [17]:
store_ids = train2['store'].unique()
item_ids = train2['item'].unique()
empty_df = []
for i in range (1,13):
    for j in range(1,32):
        for store in store_ids:
            for item in item_ids:
                empty_df.append([i, j, store, item])


    
empty_df = pd.DataFrame(empty_df, columns=['month', 'day','store','item'])

In [18]:
train2 = pd.merge(empty_df, train2, on=['month', 'day','store','item'], how='left')
train.fillna(0, inplace=True)

print( train2.head() )

print( 'train2:  ', train2.shape ) # became 6 million rows

   month  day  store  item  mean_sales  min_sales  max_sales  std_sales
0      1    1      1     1       14.60       9.00      21.00       5.18
1      1    1      1     2       34.80      32.00      40.00       3.27
2      1    1      1     3       22.60      15.00      36.00       8.08
3      1    1      1     4       14.00       9.00      21.00       4.80
4      1    1      1     5       14.00       6.00      25.00       6.96
train2:   (186000, 8)

# shift

In [19]:
train3 = train2.copy()

train3['shift_sales'] =  train3.groupby(['store', 'item'])['mean_sales'].shift(-1)

print ( train3.head(5) )
print( train3.isnull().sum())

   month  day  store  item  mean_sales  min_sales  max_sales  std_sales  \
0      1    1      1     1       14.60       9.00      21.00       5.18
1      1    1      1     2       34.80      32.00      40.00       3.27
2      1    1      1     3       22.60      15.00      36.00       8.08
3      1    1      1     4       14.00       9.00      21.00       4.80
4      1    1      1     5       14.00       6.00      25.00       6.96

   shift_sales
0        14.40
1        38.80
2        24.80
3        13.60
4         9.60
month             0
day               0
store             0
item              0
mean_sales     3000
min_sales      3000
max_sales      3000
std_sales      3500
shift_sales    3500
dtype: int64

In [20]:
# min_prediods= 1 =) we don't have null values ( at least
# one observation required to have a value)
# Min value 
f_min = lambda x: x.rolling(window=3, min_periods=1).min() 
# Max value
f_max = lambda x: x.rolling(window=3, min_periods=1).max()
# Mean value
f_mean = lambda x: x.rolling(window=3, min_periods=1).mean()
# Standard deviation
# std: dispersion of a dataset relative to its mean and is calculated as the square root of the variance
f_std = lambda x: x.rolling(window=3, min_periods=1).std()

function_list = [f_min, f_max, f_mean, f_std]
function_name = ['min', 'max', 'mean', 'std']
for i in range(len(function_list)):
    train3[('sales_lag_%s' % function_name[i])] = train.groupby(['store', 'item'])['sales'].apply(function_list[i])

# Fill the empty std features with 0
train3.fillna(0, inplace=True)

train3.head()

,month,day,store,item,mean_sales,min_sales,max_sales,std_sales,shift_sales,sales_lag_min,sales_lag_max,sales_lag_mean,sales_lag_std
0,1,1,1,1,14.60,9.00,21.00,5.18,14.40,13.00,13.00,13.00,0.00
1,1,1,1,2,34.80,32.00,40.00,3.27,38.80,11.00,13.00,12.00,1.41
2,1,1,1,3,22.60,15.00,36.00,8.08,24.80,11.00,14.00,12.67,1.53
3,1,1,1,4,14.00,9.00,21.00,4.80,13.60,11.00,14.00,12.67,1.53
4,1,1,1,5,14.00,6.00,25.00,6.96,9.60,10.00,14.00,12.33,2.08

In [21]:
lag_list = [1, 2, 3]

for lag in lag_list:
    ft_name = ('sales_shifted%s' % lag)
    train3[ft_name] = train3.groupby(['store' , 'item'])['mean_sales'].shift(lag)
    # Fill the empty shifted features with 0
    train3[ft_name].fillna(0, inplace=True)

train3.head()

,month,day,store,item,mean_sales,min_sales,max_sales,std_sales,shift_sales,sales_lag_min,sales_lag_max,sales_lag_mean,sales_lag_std,sales_shifted1,sales_shifted2,sales_shifted3
0,1,1,1,1,14.60,9.00,21.00,5.18,14.40,13.00,13.00,13.00,0.00,0.00,0.00,0.00
1,1,1,1,2,34.80,32.00,40.00,3.27,38.80,11.00,13.00,12.00,1.41,0.00,0.00,0.00
2,1,1,1,3,22.60,15.00,36.00,8.08,24.80,11.00,14.00,12.67,1.53,0.00,0.00,0.00
3,1,1,1,4,14.00,9.00,21.00,4.80,13.60,11.00,14.00,12.67,1.53,0.00,0.00,0.00
4,1,1,1,5,14.00,6.00,25.00,6.96,9.60,10.00,14.00,12.33,2.08,0.00,0.00,0.00

In [22]:
train3

,month,day,store,item,mean_sales,min_sales,max_sales,std_sales,shift_sales,sales_lag_min,sales_lag_max,sales_lag_mean,sales_lag_std,sales_shifted1,sales_shifted2,sales_shifted3
0,1,1,1,1,14.60,9.00,21.00,5.18,14.40,13.00,13.00,13.00,0.00,0.00,0.00,0.00
1,1,1,1,2,34.80,32.00,40.00,3.27,38.80,11.00,13.00,12.00,1.41,0.00,0.00,0.00
2,1,1,1,3,22.60,15.00,36.00,8.08,24.80,11.00,14.00,12.67,1.53,0.00,0.00,0.00
3,1,1,1,4,14.00,9.00,21.00,4.80,13.60,11.00,14.00,12.67,1.53,0.00,0.00,0.00
4,1,1,1,5,14.00,6.00,25.00,6.96,9.60,10.00,14.00,12.33,2.08,0.00,0.00,0.00
5,1,1,1,6,35.80,30.00,52.00,9.18,35.00,10.00,13.00,11.67,1.53,0.00,0.00,0.00
6,1,1,1,7,34.20,25.00,42.00,6.69,36.00,10.00,12.00,10.67,1.15,0.00,0.00,0.00
7,1,1,1,8,46.20,33.00,65.00,13.74,45.40,9.00,12.00,10.33,1.53,0.00,0.00,0.00
8,1,1,1,9,30.60,18.00,47.00,13.01,26.80,9.00,12.00,10.33,1.53,0.00,0.00,0.00
9,1,1,1,10,42.20,33.00,53.00,8.17,47.20,9.00,12.00,10.00,1.73,0.00,0.00,0.00
10,1,1,1,11,44.00,35.00,57.00,9.06,47.00,9.00,12.00,10.00,1.73,0.00,0.00,0.00
11,1,1,1,12,45.00,33.00,58.00,10.63,43.60,7.00,9.00,8.33,1.15,0.00,0.00,0.00
12,1,1,1,13,45.00,37.00,60.00,9.35,43.00,7.00,10.00,8.67,1.53,0.00,0.00,0.00
13,1,1,1,14,35.60,22.00,48.00,11.15,35.00,7.00,12.00,9.67,2.52,0.00,0.00,0.00
14,1,1,1,15,53.60,42.00,80.00,15.31,53.40,5.00,12.00,9.00,3.61,0.00,0.00,0.00
15,1,1,1,16,18.20,10.00,28.00,8.20,12.60,5.00,12.00,8.00,3.61,0.00,0.00,0.00
16,1,1,1,17,19.20,13.00,29.00,6.72,23.40,5.00,16.00,9.33,5.86,0.00,0.00,0.00
17,1,1,1,18,54.00,38.00,77.00,14.40,54.20,7.00,16.00,10.00,5.20,0.00,0.00,0.00
18,1,1,1,19,25.00,15.00,38.00,8.63,21.60,7.00,18.00,13.67,5.86,0.00,0.00,0.00
19,1,1,1,20,28.60,22.00,36.00,6.15,29.20,7.00,18.00,13.33,5.69,0.00,0.00,0.00
20,1,1,1,21,25.20,15.00,39.00,8.76,25.60,8.00,18.00,13.67,5.13,0.00,0.00,0.00
21,1,1,1,22,53.40,34.00,66.00,11.91,49.60,7.00,15.00,10.00,4.36,0.00,0.00,0.00
22,1,1,1,23,17.40,11.00,24.00,5.08,18.20,7.00,9.00,8.00,1.00,0.00,0.00,0.00
23,1,1,1,24,40.20,29.00,55.00,10.33,38.00,7.00,9.00,8.00,1.00,0.00,0.00,0.00
24,1,1,1,25,55.40,43.00,65.00,9.10,44.60,8.00,14.00,10.33,3.21,0.00,0.00,0.00
25,1,1,1,26,27.60,16.00,37.00,7.80,26.80,8.00,14.00,11.33,3.06,0.00,0.00,0.00
26,1,1,1,27,15.60,12.00,24.00,4.83,11.60,12.00,14.00,12.67,1.15,0.00,0.00,0.00
27,1,1,1,28,59.00,45.00,77.00,13.84,49.20,11.00,12.00,11.67,0.58,0.00,0.00,0.00
28,1,1,1,29,38.40,34.00,45.00,4.83,47.00,6.00,12.00,9.67,3.21,0.00,0.00,0.00
29,1,1,1,30,22.80,17.00,27.00,4.21,26.60,6.00,11.00,8.67,2.52,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185970,12,31,10,21,36.60,25.00,51.00,10.06,0.00,90.00,93.00,91.67,1.53,32.00,34.20,33.60
185971,12,31,10,22,75.80,55.00,89.00,14.20,0.00,90.00,128.00,103.33,21.39,69.40,69.20,65.00
185972,12,31,10,23,24.40,16.00,39.00,9.07,0.00,84.00,128.00,100.67,23.86,24.80,27.60,26.60
185973,12,31,10,24,53.60,31.00,67.00,13.96,0.00,84.00,128.00,102.67,22.74,62.00,56.40,51.20
185974,12,31,10,25,77.40,59.00,97.00,16.32,0.00,77.00,96.00,85.67,9.61,59.80,73.80,66.40
185975,12,31,10,26,39.00,22.00,53.00,12.98,0.00,77.00,96.00,86.33,9.50,38.20,39.80,40.80
185976,12,31,10,27,16.00,10.00,27.00,7.62,0.00,77.00,105.00,89.33,14.29,20.60,17.40,18.80
185977,12,31,10,28,81.80,71.00,97.00,11.65,0.00,86.00,116.00,102.33,15.18,75.20,80.00,70.80
185978,12,31,10,29,66.00,53.00,79.00,10.51,0.00,105.00,122.00,114.33,8.62,64.00,58.80,62.40
185979,12,31,10,30,35.40,19.00,44.00,9.56,0.00,90.00,122.00,109.33,17.01,34.60,31.60,33.40
185980,12,31,10,31,54.80,38.00,76.00,16.30,0.00,90.00,122.00,105.67,16.01,49.00,47.60,54.00
185981,12,31,10,32,37.20,28.00,43.00,6.83,0.00,90.00,107.00,100.67,9.29,41.00,41.40,36.00
185982,12,31,10,33,62.00,37.00,77.00,15.36,0.00,105.00,112.00,108.00,3.61,54.60,58.60,62.60
185983,12,31,10,34,23.80,17.00,32.00,7.05,0.00,107.00,112.00,108.67,2.89,23.00,20.60,22.60
185984,12,31,10,35,62.80,39.00,82.00,16.36,0.00,107.00,115.00,111.33,4.04,51.20,49.60,52.60
185985,12,31,10,36,64.40,47.00,88.00,17.04,0.00,107.00,132.00,118.00,12.77,62.60,63.40,72.00
185986,12,31,10,37,26.60,21.00,34.00,5.03,0.00,89.00,132.00,112.00,21.66,27.60,26.40,29.20
185987,12,31,10,38,71.20,51.00,94.00,17.14,0.00,89.00,132.00,108.00,21.93,61.80,69.40,59.80
185988,12,31,10,39,33.40,26.00,40.00,6.54,0.00,89.00,107.00,99.67,9.45,35.60,37.40,37.80
185989,12,31,10,40,23.20,18.00,30.00,5.59,0.00,103.00,113.00,107.67,5.03,24.60,25.20,25.60
185990,12,31,10,41,17.00,15.00,22.00,3.08,0.00,107.00,113.00,110.33,3.06,19.40,16.80,17.00
185991,12,31,10,42,30.20,26.00,36.00,4.15,0.00,111.00,129.00,117.67,9.87,30.00,27.80,29.40
185992,12,31,10,43,47.20,38.00,56.00,7.46,0.00,111.00,129.00,121.67,9.45,40.80,41.20,40.00
185993,12,31,10,44,28.20,16.00,40.00,8.79,0.00,87.00,129.00,113.67,23.18,18.40,26.20,25.20
185994,12,31,10,45,73.40,50.00,89.00,16.09,0.00,83.00,125.00,98.33,23.18,70.00,62.80,73.20
185995,12,31,10,46,52.40,43.00,70.00,11.46,0.00,83.00,107.00,92.33,12.86,45.20,51.20,49.60
185996,12,31,10,47,18.20,12.00,27.00,6.30,0.00,83.00,116.00,102.00,17.06,19.00,18.60,18.60
185997,12,31,10,48,45.20,32.00,60.00,13.63,0.00,107.00,116.00,112.67,4.93,42.20,39.40,39.00
185998,12,31,10,49,26.80,15.00,42.00,10.47,0.00,115.00,124.00,118.33,4.93,27.20,22.60,26.80
185999,12,31,10,50,55.40,40.00,82.00,17.46,0.00,115.00,139.00,126.00,12.12,49.80,57.40,52.80

In [23]:
train3['item_trend'] = train['sales']

for lag in lag_list:
    ft_name = ('sales_shifted%s' % lag)
    train3['item_trend'] -= train3[ft_name]

train3['item_trend'] /= len(lag_list) + 1

train3.head()

,month,day,store,item,mean_sales,min_sales,max_sales,std_sales,shift_sales,sales_lag_min,sales_lag_max,sales_lag_mean,sales_lag_std,sales_shifted1,sales_shifted2,sales_shifted3,item_trend
0,1,1,1,1,14.60,9.00,21.00,5.18,14.40,13.00,13.00,13.00,0.00,0.00,0.00,0.00,3.25
1,1,1,1,2,34.80,32.00,40.00,3.27,38.80,11.00,13.00,12.00,1.41,0.00,0.00,0.00,2.75
2,1,1,1,3,22.60,15.00,36.00,8.08,24.80,11.00,14.00,12.67,1.53,0.00,0.00,0.00,3.50
3,1,1,1,4,14.00,9.00,21.00,4.80,13.60,11.00,14.00,12.67,1.53,0.00,0.00,0.00,3.25
4,1,1,1,5,14.00,6.00,25.00,6.96,9.60,10.00,14.00,12.33,2.08,0.00,0.00,0.00,2.50

In [24]:
# Shop mean encoding
gp_store_mean = train3.groupby(['store']).agg({'mean_sales': ['mean']})
#print( gp_store_mean ) # groupby eliminate all columns but shop_id and item_cnt_month: mean
gp_store_mean.columns = ['shop_mean']
#print( gp_store_mean )
gp_store_mean.reset_index(inplace=True)
print( gp_store_mean )

train3 = pd.merge(train3, gp_store_mean, on=['store'], how='left')

train3.head()

   store  shop_mean
0      1      46.47
1      2      65.90
2      3      58.53
3      4      53.98
4      5      39.10
5      6      39.06
6      7      35.75
7      8      63.06
8      9      54.12
9     10      57.72

,month,day,store,item,mean_sales,min_sales,max_sales,std_sales,shift_sales,sales_lag_min,sales_lag_max,sales_lag_mean,sales_lag_std,sales_shifted1,sales_shifted2,sales_shifted3,item_trend,shop_mean
0,1,1,1,1,14.60,9.00,21.00,5.18,14.40,13.00,13.00,13.00,0.00,0.00,0.00,0.00,3.25,46.47
1,1,1,1,2,34.80,32.00,40.00,3.27,38.80,11.00,13.00,12.00,1.41,0.00,0.00,0.00,2.75,46.47
2,1,1,1,3,22.60,15.00,36.00,8.08,24.80,11.00,14.00,12.67,1.53,0.00,0.00,0.00,3.50,46.47
3,1,1,1,4,14.00,9.00,21.00,4.80,13.60,11.00,14.00,12.67,1.53,0.00,0.00,0.00,3.25,46.47
4,1,1,1,5,14.00,6.00,25.00,6.96,9.60,10.00,14.00,12.33,2.08,0.00,0.00,0.00,2.50,46.47

In [25]:
# Item mean encoding.
gp_item_mean = train3.groupby(['item']).agg({'mean_sales': ['mean']})
gp_item_mean.columns = ['item_mean']
gp_item_mean.reset_index(inplace=True)
train3 = pd.merge(train3, gp_item_mean, on=['item'], how='left')

# Shop with item mean encoding.
gp_shop_item_mean = train3.groupby(['store', 'item']).agg({'mean_sales': ['mean']})
gp_shop_item_mean.columns = ['store_item_mean']
gp_shop_item_mean.reset_index(inplace=True)
train3 = pd.merge(train3, gp_shop_item_mean, on=['store', 'item'], how='left')

In [26]:
# Month mean encoding.
gp_month_mean = train3.groupby(['month']).agg({'mean_sales': ['mean']})
gp_month_mean.columns = ['month_mean']
gp_month_mean.reset_index(inplace=True)
train3 = pd.merge(train3, gp_month_mean, on=['month'], how='left')

In [27]:

train_set = train3

#train_set = train3[ train3['month']<=10 ]
#print( train_set.shape )

validation_set = train3[ train3['month']>10 ]
print ( validation_set.shape)

#print( 'remember we have excluded first 3 months')

(31000, 21)

In [28]:
X_train = train_set.drop(['mean_sales'], axis=1)
Y_train = train_set['mean_sales'].astype(int)
X_validation = validation_set.drop(['mean_sales'], axis=1)
Y_validation = validation_set['mean_sales'].astype(int)

# random forest regressor

In [29]:
rf_features = X_train.columns

rf_train = X_train[rf_features]
rf_val = X_validation[rf_features]
rf_model = RandomForestRegressor(n_estimators=50, max_depth=7, random_state=0, n_jobs=-1)
rf_model.fit(rf_train, Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=7,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [60]:
rf_train_pred = rf_model.predict(rf_train)
rf_val_pred = rf_model.predict(rf_val)

rmse = np.sqrt(mean_squared_error(rf_train_pred, Y_train))
print('rmse of train : ' , rmse)
               
rmse = np.sqrt(mean_squared_error(rf_val_pred, Y_validation))
print('rmse of validation : ' , rmse)


x = smape(rf_train_pred, Y_train)
print('smape of train : ' , x)
               
x = smape(rf_val_pred, Y_validation)
print('smape of validation : ' , x)


print( rf_model.score(rf_train, Y_train) )
print( rf_model.score(rf_val, Y_validation) )

rmse of train :  2.613594373496178
rmse of validation :  2.431748554049246
smape of train :  4.238790342884243
smape of validation :  4.418068688033247
0.9906674983581286
0.989862186448763

# linear regression

In [31]:
lr_features = X_train.columns


lr_train = X_train[lr_features]
lr_val = X_validation[lr_features]

In [32]:
lr_scaler = MinMaxScaler()
lr_scaler.fit(lr_train)
lr_train = lr_scaler.transform(lr_train)
lr_val = lr_scaler.transform(lr_val)
lr_model = LinearRegression(n_jobs=-1)
lr_model.fit(lr_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [61]:
lr_train_pred = lr_model.predict(lr_train)
lr_val_pred = lr_model.predict(lr_val)

rmse = np.sqrt(mean_squared_error(lr_train_pred, Y_train))
print('rmse of train : ' , rmse)
               
rmse = np.sqrt(mean_squared_error(lr_val_pred, Y_validation))
print('rmse of validation : ' , rmse)


print( lr_model.score(lr_train, Y_train) )
print( lr_model.score(lr_val, Y_validation) )

x = smape(rf_train_pred, Y_train)
print('smape of train : ' , x)
               
x = smape(rf_val_pred, Y_validation)
print('smape of validation : ' , x)

rmse of train :  2.642420661757992
rmse of validation :  2.470857892324716
0.9904604999402513
0.9895334752752717
smape of train :  4.238790342884243
smape of validation :  4.418068688033247

# lightgbm

In [34]:
lgbm_model=LGBMRegressor(
        n_estimators=200,
        learning_rate=0.03,
        num_leaves=32,
        colsample_bytree=0.9497036,
        subsample=0.8715623,
        max_depth=8,
        reg_alpha=0.04,
        reg_lambda=0.073,
        min_split_gain=0.0222415,
        min_child_weight=40)

In [62]:
lgbm_model.fit(X_train, Y_train)


lightgbm_train_pred = lgbm_model.predict(X_train)
lightgbm_val_pred = lgbm_model.predict(X_validation)

rmse = np.sqrt(mean_squared_error(Y_train, lightgbm_train_pred ))
print('rmse of train : ' , rmse)
               
rmse = np.sqrt(mean_squared_error(Y_validation, lightgbm_val_pred))
print('rmse of validation : ' , rmse)

x = smape(rf_train_pred, Y_train)
print('smape of train : ' , x)
               
x = smape(rf_val_pred, Y_validation)
print('smape of validation : ' , x)

print( lgbm_model.score(X_train, Y_train) )
print( lgbm_model.score(X_validation, Y_validation) )

rmse of train :  2.2160863030253357
rmse of validation :  2.070914240858201
smape of train :  4.238790342884243
smape of validation :  4.418068688033247
0.9932904245498907
0.9926475649583539

In [36]:
"""
xgb_features = X_train.columns


xgb_train = X_train[xgb_features]
xgb_val = X_validation[xgb_features]

xgb_model = XGBRegressor(max_depth=8, 
                         n_estimators=500, 
                         min_child_weight=1000,  
                         colsample_bytree=0.7, 
                         subsample=0.7, 
                         eta=0.3, 
                         seed=0)
xgb_model.fit(xgb_train, 
              Y_train, 
              eval_metric="rmse", 
              eval_set=[(xgb_train, Y_train), (xgb_val, Y_validation)], 
              verbose=20, 
              early_stopping_rounds=20)
    """

'\nxgb_features = X_train.columns\n\n\nxgb_train = X_train[xgb_features]\nxgb_val = X_validation[xgb_features]\n\nxgb_model = XGBRegressor(max_depth=8, \n                         n_estimators=500, \n                         min_child_weight=1000,  \n                         colsample_bytree=0.7, \n                         subsample=0.7, \n                         eta=0.3, \n                         seed=0)\nxgb_model.fit(xgb_train, \n              Y_train, \n              eval_metric="rmse", \n              eval_set=[(xgb_train, Y_train), (xgb_val, Y_validation)], \n              verbose=20, \n              early_stopping_rounds=20)\n    '

In [37]:
"""
xgb_train_pred = xgb_model.predict(xgb_train)
xgb_val_pred = xgb_model.predict(xgb_val)


from sklearn.metrics import mean_squared_error 

rmse = np.sqrt(mean_squared_error(xgb_train_pred, Y_train))
print('rmse of train : ' , rmse)
               
rmse = np.sqrt(mean_squared_error(xgb_val_pred, Y_validation))
print('rmse of validation : ' , rmse)

print( xgb_model.score(X_train, Y_train) )
print( xgb_model.score(X_validation, Y_validation) )

"""

"\nxgb_train_pred = xgb_model.predict(xgb_train)\nxgb_val_pred = xgb_model.predict(xgb_val)\n\n\nfrom sklearn.metrics import mean_squared_error \n\nrmse = np.sqrt(mean_squared_error(xgb_train_pred, Y_train))\nprint('rmse of train : ' , rmse)\n               \nrmse = np.sqrt(mean_squared_error(xgb_val_pred, Y_validation))\nprint('rmse of validation : ' , rmse)\n\nprint( xgb_model.score(X_train, Y_train) )\nprint( xgb_model.score(X_validation, Y_validation) )\n\n"

In [38]:
def XGB_regressor(train_X, train_y, test_X, test_y, feature_names=None, seed_val=2017, num_rounds=500):
    param = {}
    param['objective'] = 'reg:linear'
    param['eta'] = 0.1
    param['max_depth'] = 6
    param['silent'] = 1
    param['eval_metric'] = 'mae'
    param['min_child_weight'] = 1
    param['subsample'] = 0.7
    param['colsample_bytree'] = 0.7
    param['seed'] = seed_val
    num_rounds = num_rounds

    plst = list(param.items())

    xgtrain = xgboost.DMatrix(train_X, label=train_y)

    if test_y is not None:
        xgtest = xgboost.DMatrix(test_X, label=test_y)
        watchlist = [ (xgtrain,'train'), (xgtest, 'test') ]
        model = xgboost.train(plst, xgtrain, num_rounds, watchlist, early_stopping_rounds=20)
    else:
        xgtest = xgboost.DMatrix(test_X)
        model = xgboost.train(plst, xgtrain, num_rounds)
        
    return model    
    
    
dmatrix_model = XGB_regressor(train_X = X_train, train_y = Y_train, test_X = X_validation, test_y = Y_validation)

[0]	train-mae:45.445	test-mae:40.9645
Multiple eval metrics have been passed: 'test-mae' will be used for early stopping.

Will train until test-mae hasn't improved in 20 rounds.
[1]	train-mae:40.9027	test-mae:36.8629
[2]	train-mae:36.8152	test-mae:33.1731
[3]	train-mae:33.1354	test-mae:29.851
[4]	train-mae:29.8249	test-mae:26.8625
[5]	train-mae:26.8438	test-mae:24.1715
[6]	train-mae:24.1612	test-mae:21.7512
[7]	train-mae:21.7463	test-mae:19.5738
[8]	train-mae:19.5733	test-mae:17.6144
[9]	train-mae:17.6174	test-mae:15.8502
[10]	train-mae:15.8562	test-mae:14.2619
[11]	train-mae:14.2716	test-mae:12.8342
[12]	train-mae:12.8452	test-mae:11.5476
[13]	train-mae:11.5619	test-mae:10.3912
[14]	train-mae:10.4068	test-mae:9.35004
[15]	train-mae:9.36828	test-mae:8.41513
[16]	train-mae:8.43392	test-mae:7.57576
[17]	train-mae:7.59393	test-mae:6.81859
[18]	train-mae:6.84924	test-mae:6.14497
[19]	train-mae:6.17144	test-mae:5.53673
[20]	train-mae:5.56472	test-mae:4.99084
[21]	train-mae:5.0224	test-mae:4.50638
[22]	train-mae:4.54066	test-mae:4.0752
[23]	train-mae:4.11512	test-mae:3.69689
[24]	train-mae:3.74312	test-mae:3.36544
[25]	train-mae:3.41765	test-mae:3.0771
[26]	train-mae:3.13574	test-mae:2.82783
[27]	train-mae:2.89418	test-mae:2.61678
[28]	train-mae:2.68799	test-mae:2.43607
[29]	train-mae:2.51265	test-mae:2.28224
[30]	train-mae:2.36543	test-mae:2.15384
[31]	train-mae:2.2425	test-mae:2.04732
[32]	train-mae:2.13978	test-mae:1.95959
[33]	train-mae:2.05412	test-mae:1.88589
[34]	train-mae:1.98328	test-mae:1.82633
[35]	train-mae:1.92464	test-mae:1.77682
[36]	train-mae:1.87579	test-mae:1.73575
[37]	train-mae:1.8363	test-mae:1.70252
[38]	train-mae:1.80338	test-mae:1.67436
[39]	train-mae:1.77653	test-mae:1.65184
[40]	train-mae:1.75448	test-mae:1.63441
[41]	train-mae:1.73614	test-mae:1.62001
[42]	train-mae:1.72141	test-mae:1.60835
[43]	train-mae:1.70929	test-mae:1.59836
[44]	train-mae:1.69882	test-mae:1.5898
[45]	train-mae:1.6905	test-mae:1.58297
[46]	train-mae:1.68314	test-mae:1.57624
[47]	train-mae:1.67709	test-mae:1.57152
[48]	train-mae:1.6718	test-mae:1.56699
[49]	train-mae:1.66792	test-mae:1.56342
[50]	train-mae:1.66399	test-mae:1.56038
[51]	train-mae:1.66129	test-mae:1.55799
[52]	train-mae:1.65861	test-mae:1.55584
[53]	train-mae:1.65616	test-mae:1.55382
[54]	train-mae:1.65423	test-mae:1.55246
[55]	train-mae:1.65257	test-mae:1.55147
[56]	train-mae:1.65096	test-mae:1.55062
[57]	train-mae:1.64997	test-mae:1.55
[58]	train-mae:1.64907	test-mae:1.54957
[59]	train-mae:1.64785	test-mae:1.54881
[60]	train-mae:1.64656	test-mae:1.54801
[61]	train-mae:1.64546	test-mae:1.54761
[62]	train-mae:1.64442	test-mae:1.54737
[63]	train-mae:1.64323	test-mae:1.54647
[64]	train-mae:1.64243	test-mae:1.54619
[65]	train-mae:1.64166	test-mae:1.54574
[66]	train-mae:1.64097	test-mae:1.5449
[67]	train-mae:1.64009	test-mae:1.54472
[68]	train-mae:1.63918	test-mae:1.54405
[69]	train-mae:1.63862	test-mae:1.54375
[70]	train-mae:1.63742	test-mae:1.5423
[71]	train-mae:1.63646	test-mae:1.54215
[72]	train-mae:1.63567	test-mae:1.54152
[73]	train-mae:1.63496	test-mae:1.54103
[74]	train-mae:1.63436	test-mae:1.54102
[75]	train-mae:1.63372	test-mae:1.54046
[76]	train-mae:1.633	test-mae:1.53986
[77]	train-mae:1.63245	test-mae:1.53952
[78]	train-mae:1.6321	test-mae:1.5394
[79]	train-mae:1.6309	test-mae:1.53842
[80]	train-mae:1.63038	test-mae:1.53834
[81]	train-mae:1.62992	test-mae:1.53832
[82]	train-mae:1.62931	test-mae:1.53754
[83]	train-mae:1.62869	test-mae:1.53704
[84]	train-mae:1.62821	test-mae:1.53667
[85]	train-mae:1.62761	test-mae:1.5364
[86]	train-mae:1.62687	test-mae:1.53636
[87]	train-mae:1.62635	test-mae:1.53599
[88]	train-mae:1.62562	test-mae:1.53515
[89]	train-mae:1.62507	test-mae:1.53447
[90]	train-mae:1.62474	test-mae:1.53411
[91]	train-mae:1.62434	test-mae:1.53394
[92]	train-mae:1.62355	test-mae:1.53343
[93]	train-mae:1.6228	test-mae:1.53298
[94]	train-mae:1.62192	test-mae:1.53246
[95]	train-mae:1.62126	test-mae:1.5313
[96]	train-mae:1.62051	test-mae:1.53096
[97]	train-mae:1.61994	test-mae:1.53044
[98]	train-mae:1.61923	test-mae:1.52979
[99]	train-mae:1.61852	test-mae:1.52891
[100]	train-mae:1.61786	test-mae:1.52828
[101]	train-mae:1.61718	test-mae:1.52785
[102]	train-mae:1.61652	test-mae:1.52715
[103]	train-mae:1.61622	test-mae:1.52705
[104]	train-mae:1.61569	test-mae:1.52678
[105]	train-mae:1.61521	test-mae:1.52636
[106]	train-mae:1.6146	test-mae:1.52621
[107]	train-mae:1.61401	test-mae:1.52579
[108]	train-mae:1.61364	test-mae:1.52553
[109]	train-mae:1.61306	test-mae:1.52513
[110]	train-mae:1.6125	test-mae:1.52474
[111]	train-mae:1.61194	test-mae:1.52432
[112]	train-mae:1.61149	test-mae:1.52416
[113]	train-mae:1.61131	test-mae:1.52412
[114]	train-mae:1.61082	test-mae:1.52356
[115]	train-mae:1.61013	test-mae:1.52309
[116]	train-mae:1.60941	test-mae:1.52288
[117]	train-mae:1.6092	test-mae:1.52286
[118]	train-mae:1.60866	test-mae:1.52256
[119]	train-mae:1.60794	test-mae:1.52213
[120]	train-mae:1.60747	test-mae:1.52172
[121]	train-mae:1.60695	test-mae:1.5209
[122]	train-mae:1.60635	test-mae:1.52051
[123]	train-mae:1.60597	test-mae:1.52039
[124]	train-mae:1.60531	test-mae:1.52032
[125]	train-mae:1.60457	test-mae:1.51953
[126]	train-mae:1.6042	test-mae:1.51932
[127]	train-mae:1.60376	test-mae:1.5191
[128]	train-mae:1.6035	test-mae:1.51878
[129]	train-mae:1.60317	test-mae:1.51866
[130]	train-mae:1.60268	test-mae:1.51852
[131]	train-mae:1.60219	test-mae:1.51714
[132]	train-mae:1.6017	test-mae:1.51675
[133]	train-mae:1.6012	test-mae:1.51646
[134]	train-mae:1.60089	test-mae:1.51643
[135]	train-mae:1.60064	test-mae:1.51635
[136]	train-mae:1.60041	test-mae:1.51627
[137]	train-mae:1.60001	test-mae:1.51576
[138]	train-mae:1.59939	test-mae:1.51489
[139]	train-mae:1.59899	test-mae:1.5148
[140]	train-mae:1.5983	test-mae:1.51404
[141]	train-mae:1.59782	test-mae:1.51374
[142]	train-mae:1.59725	test-mae:1.51324
[143]	train-mae:1.59683	test-mae:1.51305
[144]	train-mae:1.59632	test-mae:1.51283
[145]	train-mae:1.59601	test-mae:1.51257
[146]	train-mae:1.59565	test-mae:1.51234
[147]	train-mae:1.59524	test-mae:1.5123
[148]	train-mae:1.59485	test-mae:1.51201
[149]	train-mae:1.59449	test-mae:1.51175
[150]	train-mae:1.59409	test-mae:1.51152
[151]	train-mae:1.59358	test-mae:1.51121
[152]	train-mae:1.59314	test-mae:1.51072
[153]	train-mae:1.59282	test-mae:1.51063
[154]	train-mae:1.59208	test-mae:1.50988
[155]	train-mae:1.59159	test-mae:1.50984
[156]	train-mae:1.59126	test-mae:1.50973
[157]	train-mae:1.59093	test-mae:1.5095
[158]	train-mae:1.59042	test-mae:1.50943
[159]	train-mae:1.58989	test-mae:1.50911
[160]	train-mae:1.58954	test-mae:1.50883
[161]	train-mae:1.58917	test-mae:1.50866
[162]	train-mae:1.58878	test-mae:1.50843
[163]	train-mae:1.58818	test-mae:1.50802
[164]	train-mae:1.58767	test-mae:1.50748
[165]	train-mae:1.58715	test-mae:1.50686
[166]	train-mae:1.58677	test-mae:1.5065
[167]	train-mae:1.58631	test-mae:1.50629
[168]	train-mae:1.58595	test-mae:1.50611
[169]	train-mae:1.58527	test-mae:1.50543
[170]	train-mae:1.58505	test-mae:1.50524
[171]	train-mae:1.5844	test-mae:1.50475
[172]	train-mae:1.58352	test-mae:1.50422
[173]	train-mae:1.5833	test-mae:1.50411
[174]	train-mae:1.58321	test-mae:1.50412
[175]	train-mae:1.58291	test-mae:1.50394
[176]	train-mae:1.58254	test-mae:1.50374
[177]	train-mae:1.58187	test-mae:1.50347
[178]	train-mae:1.58144	test-mae:1.50333
[179]	train-mae:1.58097	test-mae:1.5031
[180]	train-mae:1.58059	test-mae:1.50285
[181]	train-mae:1.58023	test-mae:1.50259
[182]	train-mae:1.57973	test-mae:1.50244
[183]	train-mae:1.57932	test-mae:1.50197
[184]	train-mae:1.57894	test-mae:1.50178
[185]	train-mae:1.57852	test-mae:1.50161
[186]	train-mae:1.57818	test-mae:1.50122
[187]	train-mae:1.57773	test-mae:1.50109
[188]	train-mae:1.57732	test-mae:1.5009
[189]	train-mae:1.57697	test-mae:1.50077
[190]	train-mae:1.57667	test-mae:1.50057
[191]	train-mae:1.57628	test-mae:1.50035
[192]	train-mae:1.57575	test-mae:1.49995
[193]	train-mae:1.57537	test-mae:1.4996
[194]	train-mae:1.57481	test-mae:1.49938
[195]	train-mae:1.57439	test-mae:1.49896
[196]	train-mae:1.57399	test-mae:1.49879
[197]	train-mae:1.57351	test-mae:1.49849
[198]	train-mae:1.5731	test-mae:1.49785
[199]	train-mae:1.57257	test-mae:1.49743
[200]	train-mae:1.5722	test-mae:1.49692

[201]	train-mae:1.57179	test-mae:1.49667
[202]	train-mae:1.5716	test-mae:1.49577
[203]	train-mae:1.57131	test-mae:1.49544
[204]	train-mae:1.57091	test-mae:1.49531
[205]	train-mae:1.57036	test-mae:1.49455
[206]	train-mae:1.57012	test-mae:1.49443
[207]	train-mae:1.56976	test-mae:1.4942
[208]	train-mae:1.56934	test-mae:1.49371
[209]	train-mae:1.569	test-mae:1.49336
[210]	train-mae:1.56864	test-mae:1.49308
[211]	train-mae:1.56815	test-mae:1.49271
[212]	train-mae:1.56754	test-mae:1.49237
[213]	train-mae:1.56696	test-mae:1.49181
[214]	train-mae:1.5666	test-mae:1.49161
[215]	train-mae:1.56628	test-mae:1.4915
[216]	train-mae:1.56591	test-mae:1.49121
[217]	train-mae:1.56545	test-mae:1.49099
[218]	train-mae:1.56503	test-mae:1.49068
[219]	train-mae:1.56472	test-mae:1.49054
[220]	train-mae:1.56431	test-mae:1.49019
[221]	train-mae:1.56384	test-mae:1.49005
[222]	train-mae:1.56361	test-mae:1.48999
[223]	train-mae:1.56296	test-mae:1.48978
[224]	train-mae:1.56262	test-mae:1.48967
[225]	train-mae:1.56219	test-mae:1.4895
[226]	train-mae:1.56181	test-mae:1.48931
[227]	train-mae:1.56136	test-mae:1.48896
[228]	train-mae:1.56091	test-mae:1.48845
[229]	train-mae:1.56048	test-mae:1.48816
[230]	train-mae:1.55997	test-mae:1.48671
[231]	train-mae:1.55952	test-mae:1.4862
[232]	train-mae:1.55919	test-mae:1.48611
[233]	train-mae:1.55891	test-mae:1.48597
[234]	train-mae:1.55858	test-mae:1.48589
[235]	train-mae:1.55808	test-mae:1.48557
[236]	train-mae:1.55746	test-mae:1.48508
[237]	train-mae:1.55713	test-mae:1.48469
[238]	train-mae:1.55673	test-mae:1.48453
[239]	train-mae:1.55633	test-mae:1.48434
[240]	train-mae:1.55597	test-mae:1.484
[241]	train-mae:1.55567	test-mae:1.48382
[242]	train-mae:1.55516	test-mae:1.48322
[243]	train-mae:1.55497	test-mae:1.48307
[244]	train-mae:1.55465	test-mae:1.48283
[245]	train-mae:1.55422	test-mae:1.48268
[246]	train-mae:1.5537	test-mae:1.48246
[247]	train-mae:1.55321	test-mae:1.4822
[248]	train-mae:1.55272	test-mae:1.48194
[249]	train-mae:1.55218	test-mae:1.48138
[250]	train-mae:1.55182	test-mae:1.48123
[251]	train-mae:1.55141	test-mae:1.48107
[252]	train-mae:1.55097	test-mae:1.48071
[253]	train-mae:1.5506	test-mae:1.48021
[254]	train-mae:1.55028	test-mae:1.47989
[255]	train-mae:1.54995	test-mae:1.47971
[256]	train-mae:1.54963	test-mae:1.47948
[257]	train-mae:1.54923	test-mae:1.47924
[258]	train-mae:1.54894	test-mae:1.47884
[259]	train-mae:1.54868	test-mae:1.47875
[260]	train-mae:1.54824	test-mae:1.47859
[261]	train-mae:1.54811	test-mae:1.47857
[262]	train-mae:1.5475	test-mae:1.47807
[263]	train-mae:1.54696	test-mae:1.47773
[264]	train-mae:1.54666	test-mae:1.4777
[265]	train-mae:1.54631	test-mae:1.4774
[266]	train-mae:1.54592	test-mae:1.47719
[267]	train-mae:1.54556	test-mae:1.47678
[268]	train-mae:1.54502	test-mae:1.47643
[269]	train-mae:1.54456	test-mae:1.47616
[270]	train-mae:1.54432	test-mae:1.47608
[271]	train-mae:1.54402	test-mae:1.47577
[272]	train-mae:1.54372	test-mae:1.47567
[273]	train-mae:1.54342	test-mae:1.47527
[274]	train-mae:1.54305	test-mae:1.47492
[275]	train-mae:1.54273	test-mae:1.47483
[276]	train-mae:1.54239	test-mae:1.47436
[277]	train-mae:1.54192	test-mae:1.47391
[278]	train-mae:1.54152	test-mae:1.47345
[279]	train-mae:1.54125	test-mae:1.47316
[280]	train-mae:1.54097	test-mae:1.47307
[281]	train-mae:1.54048	test-mae:1.47277
[282]	train-mae:1.54006	test-mae:1.47244
[283]	train-mae:1.53942	test-mae:1.47131
[284]	train-mae:1.53898	test-mae:1.471
[285]	train-mae:1.53849	test-mae:1.47051
[286]	train-mae:1.5381	test-mae:1.47026
[287]	train-mae:1.53781	test-mae:1.47016
[288]	train-mae:1.5375	test-mae:1.47008
[289]	train-mae:1.53726	test-mae:1.46989
[290]	train-mae:1.5371	test-mae:1.46978
[291]	train-mae:1.53666	test-mae:1.46947
[292]	train-mae:1.53643	test-mae:1.46928
[293]	train-mae:1.53616	test-mae:1.46914
[294]	train-mae:1.53561	test-mae:1.46835
[295]	train-mae:1.5353	test-mae:1.46801
[296]	train-mae:1.53497	test-mae:1.46756
[297]	train-mae:1.5345	test-mae:1.46725
[298]	train-mae:1.53431	test-mae:1.46723
[299]	train-mae:1.53398	test-mae:1.46702
[300]	train-mae:1.53375	test-mae:1.46678
[301]	train-mae:1.53335	test-mae:1.46648
[302]	train-mae:1.53285	test-mae:1.46628
[303]	train-mae:1.53239	test-mae:1.46612
[304]	train-mae:1.53205	test-mae:1.46575
[305]	train-mae:1.5316	test-mae:1.4657
[306]	train-mae:1.5313	test-mae:1.46548
[307]	train-mae:1.53098	test-mae:1.46541
[308]	train-mae:1.5306	test-mae:1.46494
[309]	train-mae:1.53037	test-mae:1.46469
[310]	train-mae:1.53001	test-mae:1.46463
[311]	train-mae:1.52971	test-mae:1.46433
[312]	train-mae:1.52944	test-mae:1.46429
[313]	train-mae:1.5291	test-mae:1.46413
[314]	train-mae:1.52883	test-mae:1.46397
[315]	train-mae:1.52848	test-mae:1.46376
[316]	train-mae:1.52826	test-mae:1.46371
[317]	train-mae:1.52796	test-mae:1.46308
[318]	train-mae:1.52753	test-mae:1.46262
[319]	train-mae:1.52718	test-mae:1.46193
[320]	train-mae:1.52687	test-mae:1.46157
[321]	train-mae:1.52635	test-mae:1.4608
[322]	train-mae:1.52603	test-mae:1.46073
[323]	train-mae:1.52561	test-mae:1.46017
[324]	train-mae:1.52537	test-mae:1.46006
[325]	train-mae:1.525	test-mae:1.45998
[326]	train-mae:1.52462	test-mae:1.45969
[327]	train-mae:1.52444	test-mae:1.45952
[328]	train-mae:1.52424	test-mae:1.45939
[329]	train-mae:1.52389	test-mae:1.45913
[330]	train-mae:1.52357	test-mae:1.45847
[331]	train-mae:1.52312	test-mae:1.45821
[332]	train-mae:1.52281	test-mae:1.45792
[333]	train-mae:1.5224	test-mae:1.45777
[334]	train-mae:1.52213	test-mae:1.45739
[335]	train-mae:1.52178	test-mae:1.45721
[336]	train-mae:1.52151	test-mae:1.45681
[337]	train-mae:1.52109	test-mae:1.45642
[338]	train-mae:1.52071	test-mae:1.45594
[339]	train-mae:1.52036	test-mae:1.45564
[340]	train-mae:1.51993	test-mae:1.45539
[341]	train-mae:1.51965	test-mae:1.45514
[342]	train-mae:1.51933	test-mae:1.45489
[343]	train-mae:1.51892	test-mae:1.45463
[344]	train-mae:1.51836	test-mae:1.45435
[345]	train-mae:1.51782	test-mae:1.45399
[346]	train-mae:1.51739	test-mae:1.4536
[347]	train-mae:1.51713	test-mae:1.45328
[348]	train-mae:1.51686	test-mae:1.45306
[349]	train-mae:1.51617	test-mae:1.45208
[350]	train-mae:1.51575	test-mae:1.45184
[351]	train-mae:1.51557	test-mae:1.45186
[352]	train-mae:1.51521	test-mae:1.45164
[353]	train-mae:1.51491	test-mae:1.45141
[354]	train-mae:1.51466	test-mae:1.45131
[355]	train-mae:1.51434	test-mae:1.4511
[356]	train-mae:1.51396	test-mae:1.4508
[357]	train-mae:1.51362	test-mae:1.4507
[358]	train-mae:1.51336	test-mae:1.45061
[359]	train-mae:1.51301	test-mae:1.45036
[360]	train-mae:1.51282	test-mae:1.45009
[361]	train-mae:1.51247	test-mae:1.44972
[362]	train-mae:1.51218	test-mae:1.44958
[363]	train-mae:1.51186	test-mae:1.44942
[364]	train-mae:1.51157	test-mae:1.44939
[365]	train-mae:1.51128	test-mae:1.44897
[366]	train-mae:1.51098	test-mae:1.44868
[367]	train-mae:1.51069	test-mae:1.44848
[368]	train-mae:1.51041	test-mae:1.44834
[369]	train-mae:1.51015	test-mae:1.44828
[370]	train-mae:1.50982	test-mae:1.44804
[371]	train-mae:1.50949	test-mae:1.44779
[372]	train-mae:1.50916	test-mae:1.44745
[373]	train-mae:1.50879	test-mae:1.44702
[374]	train-mae:1.50849	test-mae:1.44693
[375]	train-mae:1.50821	test-mae:1.44682
[376]	train-mae:1.50781	test-mae:1.44637
[377]	train-mae:1.50751	test-mae:1.44619
[378]	train-mae:1.50711	test-mae:1.44612
[379]	train-mae:1.50652	test-mae:1.44576
[380]	train-mae:1.50629	test-mae:1.44556
[381]	train-mae:1.5061	test-mae:1.44542
[382]	train-mae:1.50576	test-mae:1.44507
[383]	train-mae:1.50543	test-mae:1.44485
[384]	train-mae:1.50513	test-mae:1.44452
[385]	train-mae:1.50483	test-mae:1.44336
[386]	train-mae:1.50461	test-mae:1.44319
[387]	train-mae:1.50428	test-mae:1.443
[388]	train-mae:1.504	test-mae:1.44302
[389]	train-mae:1.50374	test-mae:1.44285
[390]	train-mae:1.50343	test-mae:1.44251
[391]	train-mae:1.50318	test-mae:1.44213
[392]	train-mae:1.50293	test-mae:1.44207
[393]	train-mae:1.50261	test-mae:1.44187
[394]	train-mae:1.50238	test-mae:1.44151
[395]	train-mae:1.50204	test-mae:1.44143
[396]	train-mae:1.50176	test-mae:1.44106
[397]	train-mae:1.50131	test-mae:1.44043
[398]	train-mae:1.501	test-mae:1.44006
[399]	train-mae:1.50061	test-mae:1.43967
[400]	train-mae:1.50022	test-mae:1.43921
[401]	train-mae:1.49991	test-mae:1.43903

[402]	train-mae:1.49965	test-mae:1.43891
[403]	train-mae:1.49946	test-mae:1.43888
[404]	train-mae:1.49916	test-mae:1.43834
[405]	train-mae:1.49888	test-mae:1.43807
[406]	train-mae:1.49857	test-mae:1.43761
[407]	train-mae:1.49821	test-mae:1.43727
[408]	train-mae:1.49808	test-mae:1.43712
[409]	train-mae:1.49761	test-mae:1.43689
[410]	train-mae:1.49732	test-mae:1.43671
[411]	train-mae:1.49712	test-mae:1.43666
[412]	train-mae:1.49696	test-mae:1.43664
[413]	train-mae:1.49669	test-mae:1.43621
[414]	train-mae:1.49639	test-mae:1.43596
[415]	train-mae:1.49609	test-mae:1.43571
[416]	train-mae:1.49567	test-mae:1.43557
[417]	train-mae:1.49526	test-mae:1.43532
[418]	train-mae:1.49495	test-mae:1.43517
[419]	train-mae:1.49475	test-mae:1.43496
[420]	train-mae:1.49437	test-mae:1.43458
[421]	train-mae:1.49415	test-mae:1.43451
[422]	train-mae:1.49379	test-mae:1.43409
[423]	train-mae:1.49344	test-mae:1.4337
[424]	train-mae:1.49317	test-mae:1.43358
[425]	train-mae:1.49253	test-mae:1.43202
[426]	train-mae:1.49222	test-mae:1.43179
[427]	train-mae:1.49193	test-mae:1.43162
[428]	train-mae:1.49154	test-mae:1.43154
[429]	train-mae:1.49125	test-mae:1.43129
[430]	train-mae:1.49099	test-mae:1.43115
[431]	train-mae:1.49068	test-mae:1.43087
[432]	train-mae:1.49038	test-mae:1.43066
[433]	train-mae:1.49012	test-mae:1.43022
[434]	train-mae:1.48979	test-mae:1.42985
[435]	train-mae:1.48952	test-mae:1.42973
[436]	train-mae:1.48926	test-mae:1.42962
[437]	train-mae:1.489	test-mae:1.42942
[438]	train-mae:1.48876	test-mae:1.42916
[439]	train-mae:1.48852	test-mae:1.42902
[440]	train-mae:1.48817	test-mae:1.4283
[441]	train-mae:1.48783	test-mae:1.42786
[442]	train-mae:1.48758	test-mae:1.42775
[443]	train-mae:1.4873	test-mae:1.42754
[444]	train-mae:1.48697	test-mae:1.42732
[445]	train-mae:1.4866	test-mae:1.42691
[446]	train-mae:1.48632	test-mae:1.42681
[447]	train-mae:1.48596	test-mae:1.42636
[448]	train-mae:1.48551	test-mae:1.42599
[449]	train-mae:1.48531	test-mae:1.4259
[450]	train-mae:1.4851	test-mae:1.42586
[451]	train-mae:1.48479	test-mae:1.42576
[452]	train-mae:1.48449	test-mae:1.42556
[453]	train-mae:1.48414	test-mae:1.42528
[454]	train-mae:1.4839	test-mae:1.42504
[455]	train-mae:1.48352	test-mae:1.4247
[456]	train-mae:1.4832	test-mae:1.42444
[457]	train-mae:1.48281	test-mae:1.42437
[458]	train-mae:1.48256	test-mae:1.42402
[459]	train-mae:1.48224	test-mae:1.42384
[460]	train-mae:1.48199	test-mae:1.42373
[461]	train-mae:1.48167	test-mae:1.42343
[462]	train-mae:1.48132	test-mae:1.42313
[463]	train-mae:1.48097	test-mae:1.42305
[464]	train-mae:1.48053	test-mae:1.42278
[465]	train-mae:1.48025	test-mae:1.42258
[466]	train-mae:1.47999	test-mae:1.42248
[467]	train-mae:1.47965	test-mae:1.4221
[468]	train-mae:1.4794	test-mae:1.42199
[469]	train-mae:1.47917	test-mae:1.42181
[470]	train-mae:1.47888	test-mae:1.42164
[471]	train-mae:1.47864	test-mae:1.42113
[472]	train-mae:1.47833	test-mae:1.42089
[473]	train-mae:1.47804	test-mae:1.42061
[474]	train-mae:1.47789	test-mae:1.42054
[475]	train-mae:1.47759	test-mae:1.42044
[476]	train-mae:1.47703	test-mae:1.42017
[477]	train-mae:1.4768	test-mae:1.42012
[478]	train-mae:1.47665	test-mae:1.42004
[479]	train-mae:1.47634	test-mae:1.41986
[480]	train-mae:1.47604	test-mae:1.41944
[481]	train-mae:1.47575	test-mae:1.4193
[482]	train-mae:1.47545	test-mae:1.41893
[483]	train-mae:1.47513	test-mae:1.41873
[484]	train-mae:1.47487	test-mae:1.41836
[485]	train-mae:1.47467	test-mae:1.4182
[486]	train-mae:1.47426	test-mae:1.41795
[487]	train-mae:1.4741	test-mae:1.41782
[488]	train-mae:1.47372	test-mae:1.41718
[489]	train-mae:1.47345	test-mae:1.4168
[490]	train-mae:1.47312	test-mae:1.41645
[491]	train-mae:1.47291	test-mae:1.41611
[492]	train-mae:1.47261	test-mae:1.41591
[493]	train-mae:1.4723	test-mae:1.4158
[494]	train-mae:1.47212	test-mae:1.41581
[495]	train-mae:1.47183	test-mae:1.41508
[496]	train-mae:1.47159	test-mae:1.41479
[497]	train-mae:1.47141	test-mae:1.41478
[498]	train-mae:1.47118	test-mae:1.41471
[499]	train-mae:1.47083	test-mae:1.4143

# work on test

In [39]:
print( train3.head() )
print ( test.head() )

   month  day  store  item  mean_sales  min_sales  max_sales  std_sales  \
0      1    1      1     1       14.60       9.00      21.00       5.18
1      1    1      1     2       34.80      32.00      40.00       3.27
2      1    1      1     3       22.60      15.00      36.00       8.08
3      1    1      1     4       14.00       9.00      21.00       4.80
4      1    1      1     5       14.00       6.00      25.00       6.96

   shift_sales  sales_lag_min     ...      sales_lag_mean  sales_lag_std  \
0        14.40          13.00     ...               13.00           0.00
1        38.80          11.00     ...               12.00           1.41
2        24.80          11.00     ...               12.67           1.53
3        13.60          11.00     ...               12.67           1.53
4         9.60          10.00     ...               12.33           2.08

   sales_shifted1  sales_shifted2  sales_shifted3  item_trend  shop_mean  \
0            0.00            0.00            0.00        3.25      46.47
1            0.00            0.00            0.00        2.75      46.47
2            0.00            0.00            0.00        3.50      46.47
3            0.00            0.00            0.00        3.25      46.47
4            0.00            0.00            0.00        2.50      46.47

   item_mean  store_item_mean  month_mean
0      21.61            19.64       35.52
1      57.58            52.25       35.52
2      36.03            32.64       35.52
3      21.64            19.62       35.52
4      18.05            16.33       35.52

[5 rows x 21 columns]
   id        date  store  item
0   0  2018-01-01      1     1
1   1  2018-01-02      1     1
2   2  2018-01-03      1     1
3   3  2018-01-04      1     1
4   4  2018-01-05      1     1

In [40]:
test['date'] = pd.to_datetime(test.date,format="%Y-%m-%d")

test['month'] = test['date'].dt.month
test['day'] = test['date'].dt.day

test.head()

   id       date  store  item  month  day
0   0 2018-01-01      1     1      1    1
1   1 2018-01-02      1     1      1    2
2   2 2018-01-03      1     1      1    3
3   3 2018-01-04      1     1      1    4
4   4 2018-01-05      1     1      1    5

In [41]:
test = test.drop(['date'], axis = 1)
test.head()

   id  store  item  month  day
0   0      1     1      1    1
1   1      1     1      1    2
2   2      1     1      1    3
3   3      1     1      1    4
4   4      1     1      1    5

In [42]:
test.head()

   id  store  item  month  day
0   0      1     1      1    1
1   1      1     1      1    2
2   2      1     1      1    3
3   3      1     1      1    4
4   4      1     1      1    5

In [43]:
test.head()

   id  store  item  month  day
0   0      1     1      1    1
1   1      1     1      1    2
2   2      1     1      1    3
3   3      1     1      1    4
4   4      1     1      1    5

In [44]:
IDs = test['id']
test = test[['month', 'day', 'store', 'item']]
print(IDs.head() )
print( test.head() )
print( test.shape )

0    0
1    1
2    2
3    3
4    4
Name: id, dtype: int64
   month  day  store  item
0      1    1      1     1
1      1    2      1     1
2      1    3      1     1
3      1    4      1     1
4      1    5      1     1
(45000, 4)

In [45]:
test = test.merge(train3.drop('mean_sales', axis=1), on=['month', 'day', 'store', 'item'], how='left'    )

In [46]:
print( test.shape )
print( test.isnull().sum() )

(45000, 20)
month              0
day                0
store              0
item               0
min_sales          0
max_sales          0
std_sales          0
shift_sales        0
sales_lag_min      0
sales_lag_max      0
sales_lag_mean     0
sales_lag_std      0
sales_shifted1     0
sales_shifted2     0
sales_shifted3     0
item_trend         0
shop_mean          0
item_mean          0
store_item_mean    0
month_mean         0
dtype: int64

In [47]:
trn = pd.DataFrame( { 'x':[1,1], 'y':[1,5], 'z':[6,7] }  )
tst = pd.DataFrame( { 'x':[1,1,1], 'y':[1,3,5] } )

In [48]:
print('*** tst **** \n', tst )
print('*** trn **** \n', trn )

*** tst ****
    x  y
0  1  1
1  1  3
2  1  5
*** trn ****
    x  y  z
0  1  1  6
1  1  5  7

In [49]:
#l = [0,1,1]
#if l in tst:
 #   print('ok')

In [50]:
#for index, row in test.iterrows():
 #   print(row)

In [51]:
test.head()

,month,day,store,item,min_sales,max_sales,std_sales,shift_sales,sales_lag_min,sales_lag_max,sales_lag_mean,sales_lag_std,sales_shifted1,sales_shifted2,sales_shifted3,item_trend,shop_mean,item_mean,store_item_mean,month_mean
0,1,1,1,1,9.00,21.00,5.18,14.40,13.00,13.00,13.00,0.00,0.00,0.00,0.00,3.25,46.47,21.61,19.64,35.52
1,1,2,1,1,11.00,19.00,2.97,12.60,21.00,23.00,22.00,1.00,14.60,0.00,0.00,2.10,46.47,21.61,19.64,35.52
2,1,3,1,1,10.00,16.00,2.41,15.00,15.00,32.00,22.33,8.74,14.40,14.60,0.00,-3.50,46.47,21.61,19.64,35.52
3,1,4,1,1,12.00,20.00,3.16,13.40,12.00,20.00,16.00,4.00,12.60,14.40,14.60,-6.40,46.47,21.61,19.64,35.52
4,1,5,1,1,10.00,17.00,2.61,15.00,25.00,30.00,27.67,2.52,15.00,12.60,14.40,-4.25,46.47,21.61,19.64,35.52

In [52]:


test_pred = dmatrix_model.predict(xgboost.DMatrix(test), ntree_limit = dmatrix_model.best_ntree_limit)


test_pred

array([14.179281, 14.32444 , 12.838291, ..., 70.541695, 67.12164 ,
       66.09892 ], dtype=float32)

In [53]:
sub = pd.DataFrame(IDs, columns=['id'])
sub['sales'] = test_pred
sub.to_csv('submission.csv', index=False)
sub.head(10)

   id  sales
0   0  14.18
1   1  14.32
2   2  12.84
3   3  14.96
4   4  13.32
5   5  14.95
6   6  11.71
7   7  13.92
8   8  14.44
9   9  15.68